doctype html
head
  meta(charset='UTF-8')
  title Document
  link(href='test.css' rel='stylesheet')
  link(href='/stylesheets/test_event.css' rel='stylesheet')
header
  h1#symbol
    a(href='') &#xC2EC;&#xBCFC;
  #search
    input(type='ext' placeholder='브랜드 입력')
    button &#xAC80;&#xC0C9;
  #login
    a(href='') &#xB85C;&#xADF8;&#xC778;
nav
  #global_nav
    ul.nav
      li
        a(href='') menu1
      li
        a(href='') menu2
      li
        a(href='') menu3
      li
        a(href='') menu4
      li
        a(href='') menu5
section
  article
    .event_list
      ul
        li
          img(src='' alt='image')
          a(href='')
          | description
        li
          img(src='' alt='image')
          a(href='')
          | description
        li
          img(src='' alt='image')
          a(href='')
          | description
        li
          img(src='' alt='image')
          a(href='')
          | description
