doctype html
//
  Hielo by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
html
  head
    title 割引
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/css/main.css')
  body
    // Header
    header#header.alt
      .logo
    //-   a(href='#menu') Menu
    
    // Banner
    section.banner.full
      article
        img(src='images/food.jpg', alt='')
        .inner
          header
            p
              | 皆様に様々な割引情報を提供いたします
              a(href='https://templated.co') 
            h2 割引
      
            
    
    
    
    
    script(src='/assets/js/jquery.min.js')
    script(src='/assets/js/jquery.scrollex.min.js')
    script(src='/assets/js/skel.min.js')
    script(src='/assets/js/util.js')
    script(src='/assets/js/main.js')
    script(src='/javascripts/next.js')
