doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(href='https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap&subset=korean', rel='stylesheet')

    title 割引
    link(href='/stylesheets/index.css' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap&subset=korean', rel='stylesheet')
    
    meta(name='google-signin-client_id')
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    block css
  header
    h1#symbol
      a(href='/brand') 
        img#symbolimg(src='/images/logo.png' width="90" height="70") 
        //- label 割引
    #search
      input(id="search-input" type='text' placeholder='브랜드 입력' name="brand_name")
      button(id="search-button" type="button") 검색
    #login
        span#name
        input#loginBtn(type='button' value='checking...' onclick="\
            if(this.value === 'Login with Google'){\
            gauth.signIn({\
            scope:'https://www.googleapis.com/auth/calendar'\
            }).then(function(){\
            console.log('gauth.signIn()');\
            checkLoginStatus();\
            }).then(function(){\
            login();\
            });\
            }else{\
            gauth.signOut().then(function(){\
            console.log('gauth.signOut()');\
            checkLoginStatus();\
            }); \
            }\
        ")
        
  nav
    #global_nav
      ul.nav
        li
          a(href='') 새 브랜드
        li
          a(href='') 새 이벤트
        li
          a(href='') 순위
        li          
          a(href='') 건의하기
        li
          a(href='') 내 페이지

  section
    block content
    //- #authorize-div(style='display: none')
    //-   span Authorize access to Google Calendar API
    //- pre#output.
    //- button#authorize-button(onclick='handleAuthClick(event)') Authorize
    //- button#authorize-button(onclick='testAdd()') eventAdd

script(src='/javascripts/init.js')
script(src='https://apis.google.com/js/platform.js?onload=init' async='' defer='')
script.
  $('#search-button').on('click', function(){
    var brand_name = $("#search-input").val()
    window.location.href =  "/brand/"+ brand_name
  }  )
