extends index
block css
  link(href='/stylesheets/main.css' rel='stylesheet')
  
  
block content 
  #container
    #promotion
      h1 image
    h1.sub_title BRAND
    button#btn brand add
    #brand_list
      ul.brand_bundle
        for brand in brands
          li
          form(action='')
            a(href='/brand/'+brand.brand_name class=brand.brand_name)
              img(src="images/"+brand.brand_name+".png" width="100" height="100" alt="")
              .checkcontainer
                input(type='checkbox', name="like_check" class=brand.brand_name)
      
        
          .container

  script(src='/javascripts/check.js')
              
            

